	<footer id="footer">
		<div class="notification-box notification-box-success hidden">
			<p></p>
			<a class="notification-close notification-close-success" href="#"><i class="icon-remove"></i></a>
		</div>

		<div class="notification-box notification-box-error hidden">
			<p></p>
			<a class="notification-close notification-close-error" href="#"><i class="icon-remove"></i></a>
		</div>
		<div class="footer-last">
			<div class="row clearfix">
				<span class="copyright">© 2014 by <a href="http://jyuu.cn/">JYmusic</a> 版权所有</span>
				<span><i style="font-size:18px" class="icon-html5"></i></span>
				<div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
				<div class="foot-menu">					
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="mp3s.html">MP3</a></li>
						<li><a href="videos.html">Video</a></li>
						<li><a href="gallery.html">Photo Gallery</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul><!-- end links -->
				</div><!-- end foot menu -->
			</div><!-- row -->
		</div><!-- end last -->
	</footer><!-- end footer -->
