	<header id="header" class="glue">
		<div class="headdown">
			<div class="row clearfix">
				<div class="logo bottomtip" title="最好和最流行的音乐">
					<a href="<{:U('Home/Index/indx')}>"><img src="__IMG__/logo.png" alt="最好和最流行的音乐"></a>
				</div><!-- 结束 logo -->

				<nav>
					<ul class="sf-menu">
						<li class="current selectedLava"><a href="<{:U('Home/Index/index')}>">主页</a></li>
						<li><a href="<{:U('Home/Album/index')}>">专辑(CD)</a></li>
						<li><a href="<{:U('Home/Singer/index')}>">歌手(DJ)</a></li>
						<li><a href="<{:U('Home/Genre/index')}>">曲风</a></li>
						<li>
							<a href="index.html">[ <{:get_username()}> ]<span class="sub"></span></a>
							<ul>
								<li class="xpopdrop"><a href="<{:U('User/Index/index')}>"><i class="icon-gear"></i> 个人中心</a></li>
								<li class="xpopdrop"><a href="<{:U('Home/Member/logout')}>"><i class="icon-off"></i> 安全退出</a></li>
							</ul>
						</li>
					</ul><!-- 结束菜单 -->
				</nav><!-- 结束导航 -->
			</div><!-- row -->
		</div><!-- 头下啦 -->
	</header><!-- 结束头 -->
