<footer id="footer">
		<div class="footer-last">
			<div class="notification-box notification-box-success hidden">
				<p></p>
				<a class="notification-close notification-close-success" href="#"><i class="icon-remove"></i></a>
			</div>

			<div class="notification-box notification-box-error hidden">
				<p></p>
				<a class="notification-close notification-close-error" href="#"><i class="icon-remove"></i></a>
			</div>
			<div class="row clearfix">
				<span class="copyright">© 2014 by <a href="http://jyuu.cn/">JYmusic</a> 版权所有</span>
				<span><i style="font-size:18px" class="icon-html5"></i></span>
				<div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
				<div class="foot-menu">					
					<ul>
						<li><a href="<{:U('Index/index')}>" target="_blank">首页</a></li>
						<li><a href="<{:U('Singer/index')}>" target="_blank">歌手</a></li>
						<li><a href="<{:U('Album/index')}>" target="_blank">专辑</a></li>
						<li><a href="<{:U('Genre/index')}>" target="_blank">曲风</a></li>
						<li><a href="<{:U('Ranks/index')}>" target="_blank">排行</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
