<div class="def-block widget">
					<h4>音乐排行榜</h4><span class="liner"></span>
					<div class="row-fluid the-icons type-list">
						<div class="span3 rank-tags"><a href="<{:U('Ranks/index')}>" class="" title="试听排行榜"><i class="icon-caret-right"></i>试听排行榜</a></div>
						<div class="span3 rank-tags"><a href="<{:U('Ranks/rater')}>" class="" title="评分排行榜"><i class="icon-caret-right"></i>评分排行榜</a></div>
						<div class="span3 rank-tags"><a href="<{:U('Ranks/down')}>" class="" title="下载排行榜"><i class="icon-caret-right"></i>下载排行榜</a></div>						
					</div>
				</div>