<div class="def-block widget animtt" data-gen="fadeUp" style="opacity:0;">
						<h4>舞曲试听榜</h4><span class="liner"></span>
						<div class="widget-content row-fluid">
							<div class="scroll-mp3" style="height: 220px;">
								<div class="content">
								<ul class="tab-content-items list">
								<Gq:music name="songs" limit="16" order="hits">
								<li><a href="<{$url}>" target="_play"><i class="icon-caret-right"></i> <{$name}> (<{$hits}>) </a></li>
								</Gq:music>
								</ul>
								</div>
							</div>
						</div>
					</div>