<div class="def-block widget">
					<h4>歌曲TOP20</h4><span class="liner"></span>
					<div class="widget-content row-fluid">
						<div style="height: 220px; overflow: hidden;" class="scroll-mp3" tabindex="5000">
							<div class="content">
							<ul class="list">
							<Gq:music name="songs" limit="20" order="recommend,add_time">
							<li><a href="<{$url}>" target="_play"><i class="icon-caret-right"></i> <{$name}> (<{$hits}>) </a></li>
							</Gq:music>
							</ul>
							</div>
						</div>
					</div>
				</div>