<extend name="Public/base"/>
<block name="content">
<div class="main-title"><h1><i class="icon-cate-list"></i>系统设置</h1></div>
<div class="widget" >
	<div class="widget-header">
		<h3>网站设置</h3>
	</div>
	<div class="widget-content">
		<div class="tabbable">
			<ul class="nav nav-tabs">
			   	<volist name="Think.config.CONFIG_GROUP_LIST" id="group">
				<li <eq name="id" value="$key">class="active"</eq>><a href="<{:U('group?id='.$key)}>"><{$group}>配置</a></li>
				</volist>
				<li class="active"><a href="<{:U('cache')}>">缓存静态</a></li>
			</ul>			
			<br>
			<form class="form-horizontal" action="<{:U('setConfig')}>"  method="post">
			<fieldset>	
			<div class="control-group">											
				<label class="control-label">首页歌曲更新时间</label>
				<div class="controls">
					<input type="text" class="input-min" name="INDEX_SONGS_CACHE_TIME" value="<{$set.INDEX_SONGS_CACHE_TIME|default='86400'}>">
					<p class="help-block">自动更新首页歌曲时间，值为0不更新，单位秒。默认1天</p>
				</div>
			</div>
			<div class="control-group">											
				<label class="control-label">侧边栏数据更新时间</label>
				<div class="controls">
					<input type="text" class="input-min" name="SIDEBAR_CACHE_TIME" value="<{$set.SIDEBAR_CACHE_TIME|default='86400'}>">
					<p class="help-block">自动更新侧边栏数据时间，开启静态后或值为0不更新，单位秒。默认1天。</p>
				</div>
			</div>				
			<div class="control-group">											
				<label class="control-label">前台静态缓存</label>
				<div class="controls">
					<input class="hidden" name="HTML_CACHE_ON" value="<{$set.HTML_CACHE_ON|default=0}>">  			
					<if condition="$set['HTML_CACHE_ON'] == 1">
					<div  class="switch-wrapper">
						<span class="switch-enable selected">开启</span>
						<span class="switch-disable">关闭</span>
					</div>           						
					<else/>
					<div  class="switch-wrapper">
						<span class="switch-enable">开启</span>
						<span class="switch-disable selected">关闭</span>	
					</div>
					</if>
					<p class="help-block">开启静态缓存，并且首页生成静态文件</p>
				</div>
			</div>
			<div class="control-group">											
				<label class="control-label">静态缓存更新时间</label>
				<div class="controls">
					<input type="text" class="input-min" name="HTML_CACHE_TIME" value="<{$set.HTML_CACHE_TIME|default='86400'}>">
					<p class="help-block">自动生成静态缓存更新时间，值为0不更新，单位秒</p>
				</div>
			</div>
			
			<div class="control-group">											
				<label class="control-label">静态缓存文件后缀</label>
				<div class="controls">
					<input type="text" class="input-min" name="HTML_FILE_SUFFIX" value="<{$set.HTML_FILE_SUFFIX|default='.html'}>">
					<p class="help-block">自定义生成静态缓存文件的后缀名，格式：.html。</p>
				</div>
			</div>
		</div>

		<div class="form-actions">
			<button class="btn button" type="submit">保存</button> 
			<button class="btn" onclick="javascript:history.back(-1);return false;">取消</button>
		</div>
		</fieldset>
		</form>
	</div>
</div>
</block>
<block name="script">
<script type="text/javascript">
	//导航高亮
		//导航高亮
		$('.subMenu').find('a[href="<{:U('Config/group')}>"]').addClass('active').find('i').addClass('icon-long-arrow-right');
</script>
</block>	


