<extend name="Base/common" />	
<block name="content">
	<div class="under_header"></div><!-- 在header之下  -->
	<div class="page-content back_to_up">
		<div class="row clearfix mb">
			<!-- 导航标签-->
			<div class="breadcrumbIn">
				<ul>
					<li><a href="<{:U('Index/index')}>" class="toptip" title="首页"> <i class="icon-home"></i> </a></li>
					<li>用户登录</li>
				</ul>
			</div><!-- breadcrumb -->
		</div><!-- row -->
			<div class="row row-fluid clearfix mbf">
			<div class="def-block clearfix">
				<div class="grid_6 mts">
					<p>如果你还不是会员请点这里 <a href="<{:U('Member/register')}>">免费注册</a></p>
					<p></p>
					
					<p>如果你是会员却忘记密码请点这里 <a href="<{:U('Member/login')}>">找回密码</a></p>
					<p>联系电话: <strong><{$config['WEB_PHONE']}> </strong> <br> 站长邮箱: <strong><{$config['WEB_EMAIL']}></strong></p>
				</div><!-- end grid6 -->

				<div class="grid_6 mt">
					<form method="post" id="userForm"  class="ajax-form" action="__SELF__">
						<div class="clearfix">
							<label class="grid_12 alpha">用户名</label>
							<div class="grid_6 alpha fll">								
								<input type="text" class="grid_12 alpha" placeholder="请输入用户名"  errormsg="请填写6-16位用户名" nullmsg="请填写用户名" sucmsg="&nbsp" datatype="*6-16" value="" name="username"/>								
							</div>
							<span class="grid_5 omega fll"><div class="Validform_checktip"></div></span>
						</div>	
						<div class="clearfix">	
							<label class="grid_12 alpha">密 码</label>
							<div class="grid_6 alpha fll">								
								<input type="password" class="grid_12 alpha" placeholder="请输入密码"  errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="password"/>								
							</div>
							<span class="grid_5 omega fll"><div class="Validform_checktip"></div></span>
						</div>	
						<div class="clearfix">		
							<label class="grid_12 alpha">验证码</label>
							<div class="grid_6 alpha fll">	
								<input type="text" class="grid_12 alpha"  placeholder="请输入验证码"  errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" name="verify"/>
							</div>
							<span class="grid_5 omega fll"><div class="Validform_checktip"></div>
						</div>	
						<div class="clearfix">		
							<div class="grid_6 alpha fll">
                				<img class="verifyimg reloadverify" alt="点击切换" src="<{:U('verify')}>" style="cursor:pointer;">
           					</div>
						</div>
						<input type="submit" id="sendMessage" style="float:left" name="sendMessage" value="登 录" />
						<span class="submit-info">  </span>
					</form><!-- end form -->
				</div><!-- end grid6 -->
			</div><!-- def block -->	
		</div><!-- 行清除浮动  -->

	</div><!-- 结束页面内容 -->
</block>
<block name="script">
	<script type="text/javascript" src="__STATIC__/Validform_v5.3.2_min.js"></script>
	<script type="text/javascript">
    	$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});

		$("#userForm").Validform({tiptype:2});
    	
	</script>
</block>