<extend name="Public/base"/>
<block name="content">	
<div class="main-title"><h1><i class="icon-cate-list"></i>管理员设置</h1></div>
<div class="widget" >
	<div class="widget-content">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li><a href="<{:U('updateNickname')}>">修改昵称</a></li>
				<li class="active"><a href="<{:U('updatePassword')}>">修改密码</a></li>
			</ul>
			<br>
			<!-- 修改密码表单 -->
			<form action="<{:U('User/submitPassword')}>" method="post" class="form-horizontal">
			<fieldset>	
				<div class="tab-pane active" >	
				<div class="control-group">
					<label class="control-label">原密码</label>
					<div class="controls">
						<input type="password" name="old" class="text input-large" autocomplete="off" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">新密码</label>
					<div class="controls">
						<input type="password" name="password" class="text input-large" autocomplete="off" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">确认密码</label>
					<div class="controls">
						<input type="password" name="repassword" class="text input-large" autocomplete="off" />
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn button ajax-post" target-form="form-horizontal">确 认</button>
					<button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
				</div>
			</fieldset>
			</form>
		</div>
	</div>
</block>